/* Start Variables */
:root
{
    --main-color: #003694;
}
/* End Variables */

/* Start Auth Layout */
.authLayout_container
{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.auth_side
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    gap: 10px;
}
.auth_side img
{
    width: 15%;
}
.auth_side h1
{
    font-size: 84px;
    font-weight: 600;
    color: white;
}
/* End Auth Layout */





/* Start Media Query */
/* Extra Small */
@media (max-width:767px)
{
    .authLayout_container
    {
        grid-template-columns: repeat(1,1fr);
    }
    .auth_side h1
    {
        font-size: 10vw;
    }
}
/* End Media Query */