/* Start Main Variables */
:root
{
    --main-color: #003694;
    --second-color: #f7cb15;
    --border-color: #001427;
    --error-color: #bf0603;
    --main-text-color: #ffffff;
}
/* End Main Variables */



/* Start Forget Password Page */
.forget_container
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 67px;
}
.forget_logo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.forget_logo .forgetPasswordIcon
{
    width: 200px;    
}
.forget_logo h2
{
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color);
}
.forget_container p
{
    width: 50%;
    font-size: 14px;
    font-weight: 500;   
    text-align: center;
}
.form_input
{
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
}
.form_input label
{
    display: flex;
    align-items: center;
}
.form_input img
{
    width: 20px;
    cursor: pointer;
}
.form_input:last-of-type img
{
    margin-top: -16px;
}
.form_input input
{
    width: 300px;
    border: none;
    border-bottom: solid 1px var(--border-color);
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
}
.form_input input:focus
{
    outline: none;
}
/* End Forget Password Page */





/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .forget_logo .forgetPasswordIcon 
    {
        width: 150px;
    }
    .forget_container p
    {
        width: 95%;
    }
    .form_input input
    {
        width: 260px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .forget_container p
    {
        width: 80%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */