/* Start Main Variables */
:root
{
    --main-color: #003694;
    --second-color: #f7cb15;
    --main-text-color: #ffffff;
}
/* End Main Variables */



/* Start Welcome Page */
.welcome_container
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
}
.title h2
{
    text-align: center;
    font-size: 74px;
    font-weight: 600;
    color: var(--main-color);
}
.welcome_btns
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* End Welcome Page */





/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .title h2
    {
        font-size: 48px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .title h2
    {
        font-size: 64px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */